{
    "api_key_omdb": null,
    "api_key_tmdb": null,
    "api_key_tvdb": null,
    "api_key_tvmaze": null,
    "batch": false,
    "episode_api": "tvdb",
    "episode_directory": "/mnt/data/anime/{series}/Season {season:01}",
    "episode_format": "{series}.s{season:01}e{episode:02}.{extension}",
    "hits": 5,
    "ignore": [
        ".*sample.*"
    ],
    "language": "en",
    "lower": false,
    "mask": [
        ".avi",
        ".m4v",
        ".mp4",
        ".mkv",
        ".ts",
        ".wmv",
        ".srt",
        ".idx",
        ".sub"
    ],
    "movie_api": "tmdb",
    "movie_directory": "/mnt/data/movies/{name}",
    "movie_format": "{name}.{year}.{extension}",
    "no_guess": true,
    "no_overwrite": true,
    "no_style": false,
    "recurse": false,
    "replace_after": {
        "&": "and",
        ";": ",",
        "@": "at",
	":": " ",
	"'": ""
    },
    "replace_before": {},
    "scene": false,
    "verbose": false
}
