{
    "batch": false,
    "recursive": false,
    "move_files_enable": true,
    "move_files_confirmation": false,
    "windows_safe_filenames": true,
    "custom_filename_character_blacklist": "'",
    "replace_invalid_characters_with": "",
    "move_files_destination": "/mnt/data/anime/%(seriesname)s/Season %(seasonnumber)02d",

    "filename_with_date_and_episode": "%(seriesname)s - %(episode)s - %(episodename)s%(ext)s",
    "filename_with_date_without_episode": "%(seriesname)s - %(episode)s%(ext)s",
    "filename_with_episode": "%(seriesname)s - S%(seasonnumber)02dE%(episode)s - %(episodename)s%(ext)s",
    "filename_with_episode_no_season": "%(seriesname)s - %(episode)s - %(episodename)s%(ext)s",
    "filename_without_episode": "%(seriesname)s - S%(seasonnumber)02dE%(episode)s%(ext)s",
    "filename_without_episode_no_season": "%(seriesname)s - %(episode)s%(ext)s",

    "filename_anime_with_episode": "%(seriesname)s - %(episode)s - %(episodename)s%(ext)s",
    "filename_anime_with_episode_without_crc": "%(seriesname)s - %(episode)s - %(episodename)s%(ext)s",
    "filename_anime_without_episode": "%(seriesname)s - %(episode)s%(ext)s",
    "filename_anime_without_episode_without_crc": "%(seriesname)s - %(episode)s%(ext)s"
}
