{{ ansible_managed | comment }}

[Unit]
Description=Restic
Documentation=https://restic.net/

[Service]
Type=oneshot
User=root

CPUQuota={{ 25 * ansible_processor_vcpus }}%

Environment="RESTIC_PASSWORD={{ restic_password }}"
Environment="RESTIC_REPOSITORY={{ restic_repository }}"
Environment="AWS_ACCESS_KEY_ID={{ restic_aws_access_key_id }}"
Environment="AWS_SECRET_ACCESS_KEY={{ restic_aws_secret_access_key }}"

{% for folder in restic_folders %}
ExecStart=/usr/bin/restic backup --verbose {{ folder.path }} {{ folder.options if folder.options is defined else '' }}
{% endfor -%}

{% for database in restic_databases %}
ExecStart=/bin/sh -c "{{ database.dump_command }} | /usr/bin/restic backup --verbose --stdin --stdin-filename /tmp/{{ database.name }}.sql {{ database.options if database.options is defined else '' }}"
{% endfor -%}

{% if restic_forget %}
ExecStartPost=/usr/bin/restic forget --keep-within {{ restic_forget_keep_within }} --prune
{% endif -%}
