{{ ansible_managed | comment(decoration="# ") }}

[Unit]
Description=Outline
Documentation=https://www.getoutline.com/
After=network.target

[Service]
User={{ outline_system_group }}
Group={{ outline_system_user }}
WorkingDirectory=/srv/outline
EnvironmentFile=/srv/outline/.env
ExecStart=/usr/bin/node build/server/index.js
TimeoutStopSec=5s
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
